
<% @contract.each do |contract| %>
<div align="center">
<%= image_tag contract.image.url unless contract.image.blank? %>
<%= image_tag contract.iproof.url unless contract.iproof.blank? %>
</div>
<% end %>